#donation-alert .text {
  padding-top:55 !important;
  font-family: "bank gothic medium bt" !important;
  font-size: 30px !important;
  line-height: 30px!important;
  -webkit-text-stroke: 1px black !important;
}